
<div >
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body" >
      <h5 class="card-title">{{product.name}}</h5>
      <p class="card-text">{{product.cuisine}}</p>
      <p class="card-text">{{product.price}}</p>
    </div>
    <p>
      <button (click)="increaseCount($event)"> Quantity </button> &nbsp;
      <input type="text" [placeholder] = "count" disabled size="1"> <br> 
    </p>
    <p>
      <label> Total </label> &nbsp;
      <input type="text" [placeholder] = "total" disabled size="1"> <br> 
    </p>
    <button (click)="payment(total)" class="btn btn-primary"> Order Now</button>
  </div>
